---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left2" href="{{ "/" | relative_url }}">主页</a>
        {% if site.abouturl!='' %}
                <a class="about-button icon-cool" href='{{ site.abouturl | relative_url }}'>关于我</a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>
            	{% if page.categories.size > 0 %}
                	{{ page.categories | join: "、" }}
            	{% endif %}
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.title }}" />
                {% else %}
                    <span class="blog-title">{{ site.title }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ "/" | relative_url }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>数据科学产品经理</p>
                </section>
            {% endif %}
			<section class="declare">
			<span>保持署名，可自由转载，参见<a target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证;</a></span><span>部分图片来源网络，侵权<a target="_blank" href="mailto:vigorpro@gmail.com">可联系删除。</a></span>
			</section>
			
            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
